<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{profile.name}}</h2>
    <h2>{{profile.email}}</h2>
    <h2>{{profile.phone}}</h2>
    <hr/>
    </br>
    <h4>Tutvustus:</h4>
    <p>{{profile.summary}}</p>
    <hr/>
    <h4>Oskused:</h4>
    <p>{{profile.skills}}</p>
    <hr/>
    <h4>Hariduskäik:</h4>
    <ul>
        <li>{{profile.school}}</li>
        <li>{{profile.university}}</li>
    </ul>
    <hr/>
    <h4>Töökogemus:</h4>
    <p>{{profile.previous_work}}</p>
</body>
</html>